<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favourite Footy Info</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Caveat&family=Libre+Baskerville&family=Lora&family=Playfair+Display:ital@1&family=Ruwudu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="left-column">
        <div>
        <ul class="options">
        <li class="teams"><a class="option " href="/in-form-teams">Top Teams<br></a></li>
        <li class="scorers"><a class="option" href="/top-scorers">Top Scorers<br></a></li>
        <!-- <li class="playmakers"><a class="option" href="/top-assists">Top Playmakers<br></a></li>
        <li class="keepers"><a class="option" href="/top-gks">Top Keepers<br></a></li> -->
        </ul>
        </div>
    </div>
<div class="right-column-teams">
    <div class="teams-title">
   <h1>The Top Goalscorers in Europe</h1>
    </div>
   <div class="league-flex">
    <div class="league-list">
        <% for(let i=0;i<5;i++){ %>
        <% if(locals.data){ %>
            <div class="league">
            <h2><%= data[i]['country'] %></h2>
                
            <% data[i]['scorers'].forEach((scorer, index)=>{ %>
                <li class="team"><%= (index+1) %>: <%= scorer %> goals</li>
            <%  }) %>
            </div>
            <% }} %>
    </div>
    </div>
</div>

</body>
</html>